*
::after
::before
{
    box-sizing: border-box;
}

*
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
body
{
    background-color: #e4c5b0;
    color: #432c1e;
}

/* div
{
    border: 1px solid red;
} */

.card
{
    width: 800px;
    margin: 20px auto;
    background-color: #f0b68f;
}

.title
{
    color: #362011;
    text-align: center;
}

#title1
{
    font-size: 60px;
}

#title2
{
    font-size: 35px;
}

#title3
{
    font-size: 25px;
}

.menu ul
{
    padding: 0;
    margin: 0;
}

.menu
{  
    width: 800px;
    margin: 20px 0;
}

ul li
{
    list-style: none;
}

.menu li
{
    float: left;   
}

.menu a
{
    text-align: center;
    color: #ffffff;
    background-color: #cf9978;
    padding: 10px 8px
}
.menu a:hover
{
    background-color: #594336;
}

a
{
    text-decoration: none;
}

.description p,
.description li
{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    word-spacing: 2px;
}

.description .title
{
    font-size: 25px;
    margin: 10px;
}

.imgRecipe
{
    display: block;
    height: auto;
    width: 700px;
    margin: 10px auto;
    border-style: double;
    border-width: 10px;
    border-color: #594336;
}